[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"

# This redirects frontend /api calls to the backend functions
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200